* {
    padding: 0px;
    margin: 0px;
}
.main_header {
    position: sticky;
    top: 0;
}

/* Galaxy z fold 5  */

@media screen and (max-width: 360px) {
    .container {
        display: grid;
        grid-template-columns: auto;

    }


}

@media screen and (max-width: 360px) {
    .info {
        align-items: center;
        text-align: center;
        background: Linear-gradient(135deg, #d44300, #4dd0e1);
        color: darkred;
        padding: 9px;


    }

    .info h1 {
        margin-bottom: 10px;
        font-size: 10px;
        list-style: none;
        font-weight: bold;
    }

    .info p {
        margin-bottom: 10px;
        font-size: 6px;
        color: indigo;
    }

    .info_button {
        font-size: 10px;
        padding: 5px;
        border-radius: 10px;
        font-weight: bold;
        cursor: pointer;
        transition: 2s;
        color: darkblue;

    }

    .info_button:hover {
        background-color: rgb(255, 192, 203);
        ;
    }

}

.container {
    display: flex;
    justify-content: space-between;
    background-color: darkcyan;
    align-items: center;
}

.container img {
    width: 100px;
    height: 100px;
}

.container ul {
    display: flex;
}

.container ul li {
    list-style: none;
    padding: 20px;
    font-size: 16px;
    cursor: pointer;
}

.container ul li:hover {
    color: darkblue;
}

.search_bar button {
    font-size: 16px;
    padding: 5px;
    border-radius: 10px;
    font-weight: bold;
    cursor: pointer;
    transition: 2s;
}

.search_bar button:hover {
    color: white;
    background-color: black;
}

.search_bar input {
    padding: 5px;
    border-radius: 10px;
    font-weight: bold;
}

.section_button {
    margin-right: 20px;
}

.section_button button {
    font-size: 16px;
    padding: 5px;
    border-radius: 10px;
    font-weight: bold;
    cursor: pointer;
    transition: 2s;
}

.section_button button:hover {
    color: white;
    background-color: black;
}


.info {
    align-items: center;
    text-align: center;
    background: Linear-gradient(135deg, #d44300, #4dd0e1);
    color: darkred;
    padding: 20px;


}

.info h1 {
    margin-bottom: 10px;
    font-size: 50px;
    list-style: none;
    font-weight: bold;
}

.info p {
    margin-bottom: 10px;
    font-size: 20px;
    color: indigo;
}

.info_button {
    font-size: 14px;
    padding: 5px;
    border-radius: 10px;
    font-weight: bold;
    cursor: pointer;
    transition: 2s;
    color: darkblue;

}

.info_button:hover {
    background-color: rgb(255, 192, 203);
    ;
}

.grid {
    display: grid;
    grid-template-columns: auto auto auto;
    gap: 20px;
    padding: 20px;
}



.Box {
    width: 300px;
    height: 600px;
    border: 2px solid black;
    margin-left: 60px;
    background-color: white;
    border-radius: 6px;
    box-shadow: 4px 4px 20px 4px;
    background-color: pink;
}

.Box img {
    width: 100%;
    height: auto;
}

.Box p {
    text-align: center;
    font-size: 16px;
    padding: 10px;
}

/* Jio phone   */

@media screen and (max-width: 250px) {

    .container {
        display: grid;
    }

    .container ul li {
        list-style: none;
        padding: 5px;
        font-size: 6px;
        cursor: pointer;
    }


    .grid {
        display: grid;
        grid-template-columns: auto;
    }

    .Box {
        width: 100px;
        height: 250px;
        border: 2px solid black;
        background-color: white;
        border-radius: 6px;
        box-shadow: 4px 4px;
        background-color: pink;
        text-align: center;



    }

    .Box img {
        width: 120px;
        height: 140px;
        left: auto;
        right: auto;

    }

    .Box p {
        text-align: center;
        font-size: 9px;
        padding: 4px;
    }


    .shop_button {
        font-size: 6px;
        padding: 1px;
        border-radius: 10px;
        font-weight: bold;
        cursor: pointer;
        transition: 2s;
        color: #d400b1;
        box-shadow: 2px 2px;
        border-color: yellow;
        margin-left: auto;
        margin-right: auto;


    }


}

/* Galaxy z fold 5  */
@media screen and (max-width: 345px) {

    .grid {
        display: grid;
        grid-template-columns: auto;
    }

    .Box {
        width: 150px;
        height: 200px;
        border: 2px solid black;
        background-color: white;
        border-radius: 6px;
        box-shadow: 4px 4px;
        background-color: pink;
        text-align: center;



    }

    .Box img {
        width: 90px;
        height: 100px;
        left: auto;
        right: auto;

    }

    .Box p {
        text-align: center;
        font-size: 9px;
        padding: 4px;
    }


    .shop_button {
        font-size: 6px;
        padding: 8px;
        border-radius: 10px;
        font-weight: bold;
        cursor: pointer;
        transition: 2s;
        color: #d400b1;
        box-shadow: 2px 2px;
        border-color: yellow;
        margin-left: auto;
        margin-right: auto;


    }


}



.shop_button {
    font-size: 14px;
    padding: 5px;
    border-radius: 10px;
    font-weight: bold;
    cursor: pointer;
    transition: 2s;
    margin-left: 100px;
    color: #d400b1;
    box-shadow: 2px 2px;
    border-color: yellow;
}

.shop_button:hover {
    background-color: black;
}

.para {
    font-weight: bold;
}

.old_price {
    text-decoration: line-through;
    color: gray;
}

.discount {
    color: rgb(128, 0, 75);
    font-weight: bold;
}

/* Galaxy z fold 5  */
@media screen and (max-width: 360px) {
    .footer {
        display: grid;
        grid-template-columns: auto;
        background-color: rgb(6, 17, 51);
    }

    .footer img {
        margin-top: 25px;
    }

}

.footer {
    display: flex;
    justify-content: space-between;
    background-color: rgb(6, 17, 51);
    margin-top: 40px;

}

.footer img {
    margin-top: 50px;
}

.logo img {
    margin-left: 20px;

}

.footer ul li {
    list-style: none;
    font-size: 40px;
    font-weight: bold;
    font-style: none;
    color: rgb(255, 255, 255);
    text-align: center;
    margin-left: 20px;

}



.footer_section h1 {
    display: flex;
    justify-content: space-around;
}

.img h2 {
    color: #fcf6f6;
    margin-top: 50px;
    font-size: 25px;
}

.img h2:hover{
    color: #d400b1;

}

.img a {
    color: #ffffff;
    text-decoration: none;
}

.img li :hover {
    color: rgb(255, 3, 200);
    text-decoration: none;

}


.img h3 {
    margin-top: 50px;
    font-size: 30px;
}

.img h3:hover{
    color: rgb(255, 3, 200);
}




.img {
    list-style: none;
    margin-right: 200px;
    margin-top: 10px;
    color: rgb(235, 227, 227);
}


.social ul {
    display: flex;

}

.social ul li {
    padding: 10px;
    margin-left: 20px;
}

.Contact p:hover{
    color: #d400b1;
}



.bottom {
    color: rgb(252, 251, 251);
    padding-top: 10px;
    text-align: center;
    font-size: 14px;
    font-weight: bold;
    background-color: rgb(9, 9, 32);

}